.Btn{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
 }
h3{
  margin: auto;
  padding-top: 50px;
  font-family: sans-serif;
}
.tabs{
  padding-top: 50px;
}
.submitBtn{
  padding-left: 500px;
  position: relative;
}
