.Btn{
  flex-wrap: wrap;
  margin: 10px;
 }
h3{
  margin: auto;
  padding-top: 50px;
  font-family: sans-serif;
}
.tabs{
  padding-top: 50px;
}
.painBtn{
  justify-content: center;
}
.hidden{
  display: none;
}