.card-rounded h3{
    padding-top: 12px ;
}

.card-rounded{
    border-radius: 12px !important;
    box-shadow: 0px 6px 20px rgba(180, 198, 235, 0.3)
  
  }

.funIcons{
    color: #a0adbe;
    margin-right: 10px;
}