body{
    align-items: center;
    /* background-image: url('./BlueBg.png'); */
    background-size: flex, center;
    background-repeat: no-repeat;
    padding:80px;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child {
    display: inline-block;
  }

  .Card, .card{
      align-self: center;
      margin: auto;
      padding: 20px;

  }

  .Button{
      padding:50px;
  }