/* body{
    align-items: center;
    background-image: url('./bg.png');
    background-size: auto;
    background-repeat: no-repeat;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .child {
    display: inline-block;
  }
  .Card, .card{
      align-self: center;
      margin: auto
  } */